.unlock-content {
  display: none;
}

.unlock-content .locked {
  display: none;  
}

.unlock-content .unlocked {
  display: none;
  
}
/* 
main {
  max-width: 1024px;
  margin:  auto;
}

:not(button).hf-invalid {
  border-color: red !important;
}

:not(button).hf-valid {
  border-color: green !important;
} */